.filterWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
    background-color:#fff;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9997;
    border-bottom: 1px solid #f2f2f2;
   
}
.inputWrap {
    position: relative;
    display: flex;
    align-items: center;
}
.searchInput {
  
  width: 600rem;
  border: none;
  background-color: #f2f2f2;
  height: 60rem;
  border-radius: 15px;
  padding: 0 60rem;

}
.iconSearch {
    font-size: 10px;
    color: rgb(84, 75, 75);
    position: absolute;
    left: 15rem;
    margin: auto;

}