.album {
    border-bottom: 1px solid #f2f2f2;
    /* background-color: red; */
    width: 100%;
    display: flex;
    padding: 30rem 20rem;
    align-items: center;
    
}
.imgBox {
    height: 200rem;
    width:200rem;
}
img {
    width: 100%;
    border-radius: 10px;
}
.title {
    font-size: 50rem;;
    margin: 0;
}

.DescBox{
    flex: auto;
    padding-left: 10rem;
}
.desc {
    color: #bc3737;
    font-size: 40rem;
    
}
.priceWrap {
    font-size: 30rem;
    display: flex;
    justify-content: space-between;
    margin-top: 40rem;
  
}
.price {
font-weight: bold;
font-size: 18px;
}
.price::before{
    content: '$';
    font-size: 30rem;
}
.count {

}
