.list {
    display: flex;
    font-size: 30rem;
    padding: 20rem;
  
}
.image {
    width: 200rem;
    height: 200rem;
}
.messageWrap {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    justify-content: center;
    

}
.title {
    font-size: 40rem;
    height: 120rem;
    font-weight: bold;

}
.message{
    display: flex;
    justify-content: space-between;
    font-size: 26rem;
}
.price::before{
    content: '$';
    
}