.bar {
    height: 80rem;
    width: 700rem;
    position: fixed;
    bottom: 0;
    background-color: #333;
    border-radius: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    margin-left: 50rem;
    color: #fff;
    font-size: 50rem;
}
.price::after{
    content: '￥';
}
.btn{
 border: none;
 height: 100%;
 width: 200rem;
 background-color: orange;
 border-radius: 30rem;
 font-weight: bold;
 color: white;
}